In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from time import time

np.random.seed(1332)
df = pd.read_csv('./data/train.csv')

In [2]:
df_train = df.iloc[:712, :]

In [3]:
scaler = StandardScaler()

In [4]:
print(df.sample(3))

     PassengerId  Survived  Pclass                               Name     Sex  \
861          862         0       2        Giles, Mr. Frederick Edward    male
60            61         0       3              Sirayanian, Mr. Orsen    male
359          360         1       3  Mockler, Miss. Helen Mary "Ellie"  female

      Age  SibSp  Parch  Ticket     Fare Cabin Embarked
861  21.0      1      0   28134  11.5000   NaN        S
60   22.0      0      0    2669   7.2292   NaN        C
359   NaN      0      0  330980   7.8792   NaN        Q

In [6]:
df['Sex'].replace('female', 0, inplace=True)
df['Sex'].replace('male', 0, inplace=True)

In [7]:
print(df.sample(3))

     PassengerId  Survived  Pclass                          Name  Sex   Age  \
606          607         0       3             Karaic, Mr. Milan    0  30.0
303          304         1       2           Keane, Miss. Nora A    0   NaN
824          825         0       3  Panula, Master. Urho Abraham    0   2.0

     SibSp  Parch   Ticket     Fare Cabin Embarked
606      0      0   349246   7.8958   NaN        S
303      0      0   226593  12.3500  E101        Q
824      4      1  3101295  39.6875   NaN        S

In [8]:
age_avg = df['Age'].mean

In [11]:
df['Age'].mean()

29.69911764705882

In [12]:
age_avg = df['Age'].mean()

In [13]:
df['Age'].fillna(age_avg, inplace=True)

In [14]:
features = ['Pclass', 'Sex', 'Age', 'Fare']

In [15]:
df_train = df.iloc[:712, :]

In [16]:
x_train = scaler.fit_transform(df_train[features].values)

In [17]:
y_train = df_train['Survived'].values

In [18]:
y_train_onehot = pd.get_dummies(df_train['Survived']).values

In [21]:
df_test = df.iloc[712:, :]

In [22]:
x_test = scaler.transform(df_test[features].values)

In [23]:
y_test = df_test['Survived'].values